<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92528656355-2g61l572ud9s8a1eh6rkcslp5k2l2kjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92528656355-2g61l572ud9s8a1eh6rkcslp5k2l2kjk</string>
	<key>API_KEY</key>
	<string>AIzaSyAfP4l9hkKIM5WjhjmNOWOkrhB_adOG3R0</string>
	<key>GCM_SENDER_ID</key>
	<string>92528656355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zetaton</string>
	<key>PROJECT_ID</key>
	<string>zetaton-d7578</string>
	<key>STORAGE_BUCKET</key>
	<string>zetaton-d7578.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92528656355:ios:3d0292c9d5b5cf5f9c2ad6</string>
</dict>
</plist>